<ion-header class="ion-no-border">
  <ion-toolbar class="bgpurple"> <!-- new-background-colorbgpurple -->

    <ion-buttons slot="start">

      <ion-back-button *ngIf="backButton" [defaultHref]="backButton">
      </ion-back-button>

      <ion-button *ngIf="isModal" (click)="dismissModal()">
        <ion-icon name="close-circle-outline"></ion-icon>
      </ion-button>

      <ion-menu-button *ngIf="showMenu" menu="menu-content"></ion-menu-button>
    </ion-buttons>

    <ion-title>
      {{title}}
      <!-- <p
        style="position: fixed; top: 0; width: 100%; text-align: center; font-size: 14px; color: #555; background-color: #ffffff00; padding: 10px; z-index: 1000; box-shadow: 0 2px 5px rgba(0,0,0,0.1);">
        Este proyecto ha sido desarrollado por <strong>Victor Manuel Velediaz Hernandez</strong> y <strong>Alexis
          Ontiveros Malaga</strong> utilizando <strong>Ionic</strong>, <strong>Angular</strong> y
        <strong>Firebase</strong> para <strong>Electric Cool</strong> como parte de un trabajo académico. Todos los
        derechos reservados.
      </p> -->
    </ion-title>
  </ion-toolbar>
</ion-header>