.shield-icon {
    font-size: 80px;
    margin-top: 40px;
    width: 50%;
    height: 50%;
    margin: 0 auto;
}

h1 {
    color: #32B3E6;
    // background-color: #32B3E6;
    padding: 4px;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    border-radius: 15px;
}