<app-header [isModal]="true" title="Información Detallada"></app-header>

<ion-content class="ion-padding custom-content">

  <ion-card class="custom-card">
    
    <ion-card-header class="ion-text-center">
      <ion-avatar *ngIf="form.value.img" class="profile-avatar">
        <img [src]="form.value.img" />
      </ion-avatar>
      <ion-icon class="img-icon" name="image-outline" *ngIf="!form.value.img"></ion-icon>
    </ion-card-header>

    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col size="12" size-sm="6" class="item-title">Registro</ion-col>
          <ion-col size="12" size-sm="6" class="item-value">{{ form.value.registro }}</ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="12" size-sm="6" class="item-title">Descripcion</ion-col>
          <ion-col size="12" size-sm="6" class="item-value">{{ form.value.descripcion }}</ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="12" size-sm="6" class="item-title">Fecha de ingreso</ion-col>
          <ion-col size="12" size-sm="6" class="item-value">{{ form.value.fecha }}</ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="12" size-sm="6" class="item-title">Tipo</ion-col>
          <ion-col size="12" size-sm="6" class="item-value">{{ form.value.tipo }}</ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="12" size-sm="6" class="item-title">Estado</ion-col>
          <ion-col size="12" size-sm="6" class="item-value">{{ form.value.estado }}</ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="12" size-sm="6" class="item-title">Telefono del cliente</ion-col>
          <ion-col size="12" size-sm="6" class="item-value">{{ form.value.telefono }}</ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="12" size-sm="6" class="item-title">Domicilio del cliente</ion-col>
          <ion-col size="12" size-sm="6" class="item-value">{{ form.value.domicilio }}</ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="12" size-sm="6" class="item-title">Costo</ion-col>
          <ion-col size="12" size-sm="6" class="item-value">{{ form.value.costo | currency: 'MXN' }}</ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="12" size-sm="6" class="item-title">Encargado del registro</ion-col>
          <ion-col size="12" size-sm="6" class="item-value">{{ form.value.encargado }}</ion-col>
        </ion-row>

      </ion-grid>
    </ion-card-content>
  </ion-card>

</ion-content>