<app-header [showMenu]="true" title="Reporte de finanzas"></app-header>

<ion-content class="ion-padding custom-content">

  <!-- Refrescador -->
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ng-container *ngIf="!loading && user()?.tipo === 'admin'">
    <ion-card>

      <ion-list id="finance-content" with="100px">

        <!-- Servicios -->
        <ng-container *ngIf="costs.length">
          <ion-card-header>
            <ion-card-title>Servicios</ion-card-title>
          </ion-card-header>

          <ion-item-sliding class="product-item" *ngFor="let costo of costs" [ngClass]="{'no-slide': isPrinting}">
            <ion-item>
              <ion-label>
                <div class="name">{{ costo.elemento }}</div>
                <div class="data">
                  <strong>Fecha: </strong>{{ costo.fecha }} <br>
                  <strong>Importe: </strong>{{ costo.importe | currency: 'MXN' }} <br>
                </div>
              </ion-label>
            </ion-item>
          </ion-item-sliding>
        </ng-container>

        <!-- Empleados -->
        <ng-container *ngIf="employees.length">
          <ion-card-header>
            <ion-card-title>Empleados</ion-card-title>
          </ion-card-header>

          <ion-item-sliding class="product-item" *ngFor="let empleado of employees" [ngClass]="{'no-slide': isPrinting}">
            <ion-item>
              <ion-label>
                <div class="name">{{ empleado.name }} {{ empleado.lastname }}</div>
                <div class="data">
                  <strong>Salario: </strong> {{ empleado.salario | currency: 'MXN' }} <br>
                  <strong>Cargo: </strong>{{ empleado.cargo }} <br>
                </div>
              </ion-label>
            </ion-item>
          </ion-item-sliding>
        </ng-container>

        <!-- Inventario -->
        <ng-container *ngIf="inventory.length">
          <ion-card-header>
            <ion-card-title>Inventario</ion-card-title>
          </ion-card-header>

          <ion-item-sliding class="product-item" *ngFor="let inventario of inventory" [ngClass]="{'no-slide': isPrinting}">
            <ion-item>
              <ion-label>
                <div class="name">{{ inventario.elemento }}</div>
                <div class="data">
                  <strong>Fecha:</strong> {{ inventario.fecha }} <br>
                  <strong>Tipo:</strong> {{ inventario.tipo }} <br>
                  <strong>Cantidad:</strong> {{ inventario.cantidad }} <br>
                  <strong>Modelo:</strong> {{ inventario.modelo }} <br>
                  <strong>Costo:</strong> {{ inventario.costo | currency: 'MXN' }} <br>
                </div>
              </ion-label>
            </ion-item>
          </ion-item-sliding>
        </ng-container>

        <!-- Proveedores -->
        <ng-container *ngIf="provider.length">
          <ion-card-header>
            <ion-card-title>Proveedores</ion-card-title>
          </ion-card-header>

          <ion-item-sliding class="product-item" *ngFor="let proveedores of provider" [ngClass]="{'no-slide': isPrinting}">
            <ion-item>
              <ion-label>
                <div class="name">{{ proveedores.nombre }}</div>
                <div class="data">
                  <strong>Fecha de Ingreso: </strong> {{ proveedores.fecha }}<br>
                  <strong>Teléfono: </strong>{{ proveedores.telefono }} <br>
                  <strong>Notas: </strong> {{ proveedores.notas }} <br>
                </div>
              </ion-label>
            </ion-item>
          </ion-item-sliding>
        </ng-container>

      </ion-list>

      <!-- Mensaje de Vacío -->
      <div class="empty" *ngIf="!costs.length && !employees.length && !inventory.length && !provider.length">
        <ion-icon name="cash-outline"></ion-icon>
        <h3>No hay un reporte disponible</h3>
      </div>

      <!-- Skeleton Loader para la carga de datos -->
      <ion-list *ngIf="loading">
        <ion-item-sliding class="product-item" *ngFor="let dummy of [1,1,1,1,1,1,1]">
          <ion-item>
            <ion-label>
              <div>
                <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
                <ion-skeleton-text animated style="width: 30%"></ion-skeleton-text>
              </div>
            </ion-label>
          </ion-item>
        </ion-item-sliding>
      </ion-list>
    </ion-card>
  </ng-container>

  <!-- Botón Flotante para Descargar PDF -->
  <ion-fab *ngIf="user()?.tipo === 'admin'" vertical="bottom" horizontal="center" slot="fixed">
    <ion-fab-button (click)="downloadFinancePDF()" color="secondary">
      <ion-icon name="download"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>
