<app-header [showMenu]="true" title="Reporte de finanzas"></app-header>

<ion-content class="ion-padding custom-content mi-clase-de-fondo">

  <!-- Refrescador -->
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <!-- Mensaje de Vacío -->
  <div class="empty" *ngIf="!loading && !costs.length && !employees.length && !inventory.length && !providers.length">
    <ion-icon name="cash-outline"></ion-icon>
    <h3>No hay reporte de finanzas disponible</h3>
  </div>

  <ng-container *ngIf="!loading && user()?.tipo === 'admin'">
    <ion-card id="content" *ngIf="costs.length || employees.length || inventory.length || providers.length">
      <div class="overlay-container">
        <div class="content-overlay">

        <ng-container *ngIf="employees.length">
          <ion-card-header>
            <ion-card-title>Empleados</ion-card-title>
          </ion-card-header>
          <table class="table table-info table-striped">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Nombre</th>
                <th scope="col">Apellido</th>
                <th scope="col">Salario</th>
                <th scope="col">Cargo</th>
              </tr>
            </thead>
            <tbody *ngFor="let empleado of employees, let i = index">
              <tr>
                <th scope="row">{{ i + 1 }}</th>
                <td>{{ empleado.name }}</td>
                <td>{{ empleado.lastname }}</td>
                <td>{{ empleado.salario | currency: 'MXN' }}</td>
                <td>{{ empleado.cargo }}</td>
              </tr>
            </tbody>
          </table>
        </ng-container>

        <ng-container *ngIf="providers.length">
          <ion-card-header>
            <ion-card-title>Proveedores</ion-card-title>
          </ion-card-header>
          <table class="table table-info table-striped">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Nombre</th>
                <th scope="col">Activo</th>
                <th scope="col">Fecha Registro</th>
              </tr>
            </thead>
            <tbody *ngFor="let proveedor of providers, let i = index">
              <tr>
                <th scope="row">{{ i + 1 }}</th>
                <td>{{ proveedor.nombre }}</td>
                <td>{{ proveedor.activo }}</td>
                <td>{{ proveedor.fecha }}</td>
              </tr>
            </tbody>
          </table>
        </ng-container>

        <ng-container *ngIf="register.length">
          <ion-card-header>
            <ion-card-title>Clientes</ion-card-title>
          </ion-card-header>
          <table class="table table-info table-striped">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Registro</th>
                <th scope="col">Encargado</th>
                <th scope="col">Costo</th>
                <th scope="col">Fecha Registro</th>
              </tr>
            </thead>
            <tbody *ngFor="let cliente of register, let i = index">
              <tr>
                <th scope="row">{{ i + 1 }}</th>
                <td>{{ cliente.registro }}</td>
                <td>{{ cliente.encargado }}</td>
                <td>{{ cliente.costo | currency: 'MXN' }}</td>
                <td>{{ cliente.fecha }}</td>
              </tr>
            </tbody>
          </table>
        </ng-container>

        <ng-container *ngIf="inventory.length">
          <ion-card-header>
            <ion-card-title>Productos</ion-card-title>
          </ion-card-header>
          <table class="table table-info table-striped">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Producto</th>
                <th scope="col">Precio</th>
                <th scope="col">Fecha Registro</th>
              </tr>
            </thead>
            <tbody *ngFor="let inventario of inventory, let i = index">
              <tr>
                <th scope="row">{{ i + 1 }}</th>
                <td>{{ inventario.elemento }}</td>
                <td>{{ inventario.costo| currency: 'MXN' }}</td>
                <td>{{ inventario.fecha }}</td>
              </tr>
            </tbody>
          </table>
        </ng-container>

        <ng-container *ngIf="tools.length">
          <ion-card-header>
            <ion-card-title>Herramientas</ion-card-title>
          </ion-card-header>
          <table class="table table-info table-striped">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Herramienta</th>
                <th scope="col">Cantidad</th>
                <th scope="col">Costo individual</th>
                <th scope="col">Costo total</th>
                <th scope="col">Fecha Registro</th>
              </tr>
            </thead>
            <tbody *ngFor="let herr of tools, let i = index">
              <tr>
                <th scope="row">{{ i + 1 }}</th>
                <td>{{ herr.elemento }}</td>
                <td>{{ herr.cantidad }}</td>
                <td>{{ herr.costo | currency: 'MXN' }}</td>
                <td>{{ herr.costo * herr.cantidad| currency: 'MXN' }}</td>
                <td>{{ herr.fecha }}</td>
              </tr>
            </tbody>
          </table>
        </ng-container>

        <ng-container *ngIf="costs.length">
          <ion-card-header>
            <ion-card-title>Servicios</ion-card-title>
          </ion-card-header>
          <table class="table table-info table-striped">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Nombre</th>
                <th scope="col">Costo</th>
                <th scope="col">Fecha Registro</th>
              </tr>
            </thead>
            <tbody *ngFor="let costo of costs, let i = index">
              <tr>
                <th scope="row">{{ i + 1 }}</th>
                <td>{{ costo.elemento }}</td>
                <td>{{ costo.importe | currency: 'MXN' }}</td>
                <td>{{ costo.fecha }}</td>
              </tr>
            </tbody>
          </table>
        </ng-container>

        </div>
      </div>

      <!-- Skeleton Loader para la carga de datos -->
      <ion-list *ngIf="loading">
        <ion-item-sliding class="product-item" *ngFor="let dummy of [1,1,1,1,1,1,1]">
          <ion-item>
            <ion-label>
              <div>
                <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
                <ion-skeleton-text animated style="width: 30%"></ion-skeleton-text>
              </div>
            </ion-label>
          </ion-item>
        </ion-item-sliding>
      </ion-list>
    </ion-card>
  </ng-container>

  <!-- Botón Flotante para Descargar PDF -->
  <ion-fab *ngIf="user()?.tipo === 'admin'" vertical="bottom" horizontal="center" slot="fixed">
    <ion-fab-button (click)="generatePDF()" color="secondary">
      <ion-icon name="download"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>