<app-header [isModal]="true" [title]="provider ? 'Actualizar proveedor' : 'Agregar proveedor'"></app-header>

<ion-content class="ion-padding custom-content">

  <ion-card class="custom-card">

    <ion-card-header>
      <ion-avatar *ngIf="form.value.img" class="profile-avatar">
        <img [src]="form.value.img" />
      </ion-avatar>
      <ion-icon class="img-icon" name="image-outline" *ngIf="!form.value.img"></ion-icon>
    </ion-card-header>

    <ion-card-content class="ion-padding ion-text-center">

      <form [formGroup]="form" (ngSubmit)="submit()">

        <ion-button (click)="takeImage()" color="secondary" mode="ios" fill="outline" size="small" shape="round">
          Tome/Seleccione una foto
        </ion-button>

        <ion-grid fixed>

          <ion-row>
            <ion-col size="12">
              <ion-input type="text" label="Nombre del Proveedor" formControlName="nombre"
                labelPlacement="floating" fill="solid" errorText="Ingresa un nombre"></ion-input>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col size="12">
              <ion-input type="tel" label="Teléfono del Proveedor" formControlName="telefono" labelPlacement="floating"
                fill="solid" errorText="Ingresa un teléfono"></ion-input>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col size="12">
              <ion-input type="email" label="Email del Proveedor" formControlName="email" labelPlacement="floating"
                fill="solid" email errorText="Ingresa un correo válido"></ion-input>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col size="12">
              <ion-input type="text" label="Notas" formControlName="notas" labelPlacement="floating" fill="solid"
                errorText="Ingresa minimo un caracter"></ion-input>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col size="12">
              <ion-select label="Estado" formControlName="activo" labelPlacement="floating" interface="popover"
                fill="solid" value="Si">
                <ion-select-option selected value="Si">Activo</ion-select-option>
                <ion-select-option value="No">Inactivo</ion-select-option>
              </ion-select>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col size="12">
              <ion-input type="date" label="Fecha de registro" formControlName="fecha" labelPlacement="floating"
                fill="solid" errorText="Ingresa una fecha"></ion-input>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col size="12">
              <ion-button class="submit" type="submit" color="secondary" mode="ios" fill="outline" [disabled]="form.invalid">
                {{ provider ? 'Actualizar' : 'Agregar' }}
                <ion-icon slot="end" name="checkmark-circle-outline"></ion-icon>
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </form>
    </ion-card-content>
  </ion-card>
</ion-content>