<app-header [isModal]="true" [title]="register ? 'Actualizar registro':'Agregar registro'"></app-header>

<ion-content>

  <form [formGroup]="form" (ngSubmit)="submit()" class="ion-padding ion-text-center" (keypress.enter)="submit()">

    <ion-avatar *ngIf="form.value.img">
      <img [src]="form.value.img" />
    </ion-avatar>

    <ion-icon class="img-icon" name="image-outline" *ngIf="!form.value.img"></ion-icon>

    <br>
    <ion-button (click)="takeImage()" mode="ios" size="small" shape="round">
      Tome/Seleccione una foto
    </ion-button>

    <app-login-input 
    autocomplete="registro" 
    type="text" 
    label="Nombre del registro"
    [control]="form.controls.registro"
    ></app-login-input>

    <div class="validators" *ngIf="form.controls.registro.errors && form.controls.registro.touched">
      <div *ngIf="form.controls.registro.errors?.['required']">El nombre es requerido</div>
      <div *ngIf="form.controls.registro.errors?.['minlength']">El nombre debe contener 5 caracteres</div>
    </div>

    <app-login-input 
    autocomplete="fecha" 
    type="date" 
    label="Fecha" 
    [control]="form.controls.fecha"
    ></app-login-input>

    <div class="validators" *ngIf="form.controls.fecha.errors && form.controls.fecha.touched">
      <div *ngIf="form.controls.fecha.errors?.['required']">La fecha es requerida</div>
    </div>


    <app-login-input 
    autocomplete="tipo" 
    type="text" 
    label="Tipo" 
    [control]="form.controls.tipo"
    value="Entrada"
    ></app-login-input>

    <div class="validators" *ngIf="form.controls.tipo.errors && form.controls.tipo .touched">
      <div *ngIf="form.controls.tipo .errors?.['required']">El tipo es requerido</div>
    </div>

    <app-login-input 
    autocomplete="descripcion" 
    type="text" 
    label="Descripcion"
    [control]="form.controls.descripcion"
    ></app-login-input>

    <div class="validators" *ngIf="form.controls.descripcion.errors && form.controls.descripcion.touched">
      <div *ngIf="form.controls.descripcion.errors?.['required']">La descripcion es requerida</div>
      <div *ngIf="form.controls.descripcion.errors?.['minlength']">Debe contener minimo 5 caracteres</div>
    </div>

    <app-login-input 
    autocomplete="telefono" 
    type="text" 
    label="Telefono"
    [control]="form.controls.telefono"
    ></app-login-input>

    <div class="validators" *ngIf="form.controls.telefono.errors && form.controls.telefono.touched">
      <div *ngIf="form.controls.telefono.errors?.['required']">El telefono es requerida</div>
      <div *ngIf="form.controls.telefono.errors?.['minlength']">Debe contener minimo 10 caracteres</div>
    </div>

    <app-login-input 
    autocomplete="domicilio" 
    type="text" 
    label="Domicilio"
    [control]="form.controls.domicilio"
    ></app-login-input>

    <div class="validators" *ngIf="form.controls.domicilio.errors && form.controls.domicilio.touched">
      <div *ngIf="form.controls.domicilio.errors?.['required']">El domicilio es requerido</div>
      <div *ngIf="form.controls.domicilio.errors?.['minlength']">Debe contener minimo 5 caracteres</div>
    </div>

    <app-login-input 
    autocomplete="estado" 
    type="text" 
    label="Estado"
    [control]="form.controls.estado"
    ></app-login-input>

    <div class="validators" *ngIf="form.controls.estado.errors && form.controls.estado.touched">
      <div *ngIf="form.controls.estado.errors?.['required']">El estado es requerido</div>
      <div *ngIf="form.controls.estado.errors?.['minlength']">Debe contener minimo 5 caracteres</div>
    </div>

    <app-login-input 
    autocomplete="encargado" 
    type="text" 
    label="Encargado"
    [control]="form.controls.encargado"
    ></app-login-input>

    <div class="validators" *ngIf="form.controls.encargado.errors && form.controls.encargado.touched">
      <div *ngIf="form.controls.encargado.errors?.['required']">El encargado es requerido</div>
      <div *ngIf="form.controls.encargado.errors?.['minlength']">Debe contener minimo 5 caracteres</div>
    </div>

    <app-login-input 
    autocomplete="costo" 
    type="number" 
    label="Costo" 
    [control]="form.controls.costo"
    (ionInput)="setNumberInput()"
    ></app-login-input>

    <div class="validators" *ngIf="form.controls.costo.errors && form.controls.costo.touched">
      <div *ngIf="form.controls.costo.errors?.['required']">El costo es requerido</div>
    </div>

    <ion-button class="submit" type="submit" mode="ios" [disabled]="form.invalid">
      {{register ? 'Actualizar':'Agregar'}}
      <ion-icon slot="end" name="checkmark-circle-outline"></ion-icon>
    </ion-button>

  </form>

</ion-content>