<app-header [isModal]="true" title="Reporte de productos"></app-header>

<ion-content class="ion-text-center">

  <ng-container>
    <ion-card >
      <div id="content">

          <ion-card-header>
            <ion-card-title color="primary">Productos</ion-card-title>
          </ion-card-header>
          <table class="table table-info table-striped">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Nombre</th>
                <th scope="col">Cantidad</th>
                <th scope="col">Costo</th>
                <th scope="col">Fecha</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let inventario of inventory, let i = index">
                <th scope="row">{{ i + 1 }}</th>
                <td>{{ inventario.elemento}}</td>
                <td>{{ inventario.cantidad }}</td>
                <td>{{ inventario.costo | currency: 'MXN' }}</td>
                <td>{{ inventario.fecha }}</td>
              </tr>
            </tbody>
          </table>

        </div>
    </ion-card>

    <ion-button (click)="generatePDF()" color="primary" mode="ios">
      Descargar PDF
      <ion-icon slot="end" name="download"></ion-icon>
    </ion-button>

  </ng-container>

</ion-content>