<app-header [isModal]="true" [title]="tools ? 'Actualizar herramienta':'Agregar herramienta'"></app-header>

<ion-content>

  <form [formGroup]="form" (ngSubmit)="submit()" class="ion-padding ion-text-center" (keypress.enter)="submit()">

    <ion-avatar *ngIf="form.value.img">
      <img [src]="form.value.img" />
    </ion-avatar>

    <ion-icon class="img-icon" name="image-outline" *ngIf="!form.value.img"></ion-icon>

    <br>
    <ion-button (click)="takeImage()" mode="ios" size="small" shape="round">
      Tome/Seleccione una foto
    </ion-button>

    <app-login-input 
    autocomplete="herramienta" 
    type="text" 
    label="Herramienta"
    [control]="form.controls.elemento"
    ></app-login-input>

    <div class="validators" *ngIf="form.controls.elemento.errors && form.controls.elemento.touched">
      <div *ngIf="form.controls.elemento.errors?.['required']">La herramienta es requerido</div>
      <div *ngIf="form.controls.elemento.errors?.['minlength']">El nombre debe contener 5 caracteres</div>
    </div>

    <app-login-input 
    autocomplete="costo" 
    type="number" 
    label="Costo" 
    [control]="form.controls.costo"
    (ionInput)="setNumberInput()"
    ></app-login-input>

    <div class="validators" *ngIf="form.controls.costo.errors && form.controls.costo.touched">
      <div *ngIf="form.controls.costo.errors?.['required']">El costo es requerido</div>
    </div>

    <app-login-input 
    autocomplete="cantidad" 
    type="number" 
    label="Cantidad" 
    [control]="form.controls.cantidad"
    ></app-login-input>

    <div class="validators" *ngIf="form.controls.cantidad.errors && form.controls.cantidad.touched">
      <div *ngIf="form.controls.cantidad.errors?.['required']">La cantidad es requerida</div>
    </div>

    <app-login-input 
    autocomplete="garantia" 
    type="text" 
    label="Garantia" 
    [control]="form.controls.garantia"
    ></app-login-input>

    <div class="validators" *ngIf="form.controls.garantia.errors && form.controls.garantia .touched">
      <div *ngIf="form.controls.garantia .errors?.['required']">La garantia es requerida</div>
    </div>

    <app-login-input 
    autocomplete="carateristicas" 
    type="text" 
    label="Carateristicas"
    [control]="form.controls.caracteristicas"
    ></app-login-input>

    <div class="validators" *ngIf="form.controls.caracteristicas.errors && form.controls.caracteristicas.touched">
      <div *ngIf="form.controls.caracteristicas.errors?.['required']">Las caracteristicas son requeridas</div>
      <div *ngIf="form.controls.caracteristicas.errors?.['minlength']">Debe contener minimo 5 caracteres</div>
    </div>

    <app-login-input 
    autocomplete="vida" 
    type="number" 
    label="Vida (meses)"
    [control]="form.controls.vida"
    ></app-login-input>

    <div class="validators" *ngIf="form.controls.vida.errors && form.controls.vida.touched">
      <div *ngIf="form.controls.vida.errors?.['required']">La vida es requerida</div>
    </div>

    <ion-button class="submit" type="submit" mode="ios" [disabled]="form.invalid">
      {{tools ? 'Actualizar':'Agregar'}}
      <ion-icon slot="end" name="checkmark-circle-outline"></ion-icon>
    </ion-button>

  </form>

</ion-content>