/* styles.css */

.d-flex-center {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  
  .ion-text-center {
    text-align: center;
  }
  
  .product-item {
    margin-bottom: 10px;
  }
  
  .empty {
    text-align: center;
    padding: 20px;
    color: #4c4c4c;
  }
  
  .empty ion-icon {
    font-size: 80px;
    color: #007bff;
    margin-bottom: 10px;
  }
  