ion-content {
    --background: #ffffff; //#9705c0
    --color: var(--ion-color-primary-contrast);
    --padding-top: 20px;
}

ion-item {
    font-size: 14px;
    --color: #000000;
    // --background: var(--ion-color-primary);
    --background: #ffffff;//#9705c0;

    ion-icon {
        color: #000000
    }

    &.active {
        color: #ff6c1d;

        ion-icon {
            color: #ff6c1d;
        }
    }
}

ion-menu {
    --width: 254px;
    --min-width: 254px;
    outline: none  //Eliminar borde de color
}

h4 {
    margin-top: 5px;
    font-weight: bold;
}

ion-avatar {
    width: 120px;
    height: 120px;
    margin: 0 auto;
}
.empty-icon {
    font-size: 100px;
    color: #ff6c1d; //Custom
}
.name-user {
    color: #ff6c1d; //Custom
}

ion-footer {
    --background: #9705c0;
}