.profile-content {
    --background: #f4f4f4;
  }
  
  .profile-heading {
    color: #333;
    font-size: 1.5rem;
    margin-bottom: 16px;
  }
  
  .profile-img-container {
    display: flex;
    justify-content: center;
    margin-bottom: 16px;
  }
  
  .i-profile {
    width: 150px;
    height: 150px;
    border-radius: 30%;
    object-fit: cover;
    border: 5px solid #1E1842;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .empty-icon {
    font-size: 120px;
    color: #1E1842;
  }
  
  .photo-btn {
    margin: 16px 0;
  }
  
  .profile-info {
    margin: 16px 0;
  }
  
  .profile-name {
    font-size: 1.2rem;
    color: #1E1842;
    font-weight: bold;
  }
  
  .profile-email {
    font-size: 1rem;
    color: #555;
  }
  