<app-header [showMenu]="true" title="Perfil"></app-header>

<ion-content class="ion-padding-top ion-text-center profile-content">
  <h3 class="profile-heading">Información de Perfil</h3>

  <div class="profile-img-container">
    <img class="i-profile" *ngIf="user()?.img" [src]="user()?.img" alt="Foto de perfil">
    <ion-icon *ngIf="!user()?.img" class="empty-icon" name="person-circle-outline"></ion-icon>
  </div>

  <ion-button class="photo-btn" fill="outline" (click)="takeImage()" color="secondary" mode="ios" shape="round">
    <ion-icon slot="start" name="camera-outline"></ion-icon>
    Cambiar foto
  </ion-button>

  <div class="profile-info">
    <h3 class="profile-name">{{ user()?.name }}</h3>
    <h3 class="profile-email" *ngIf="user().tipo==='user'">Cuenta empleado</h3>
    <h3 class="profile-email" *ngIf="user().tipo==='admin'">Cuenta administrador</h3>
    <h3 class="profile-email">{{ user()?.email }}</h3>
  </div>
</ion-content>