<app-header [isModal]="true" [title]="inventory ? 'Actualizar elemento':'Agregar elemento'"></app-header>

<ion-content class="ion-padding custom-content">

  <ion-card class="custom-card">
    <ion-card-header class="ion-text-center">
      <ion-avatar *ngIf="form.value.img" class="profile-avatar">
        <img [src]="form.value.img" />
      </ion-avatar>
      <ion-icon class="img-icon" name="image-outline" *ngIf="!form.value.img"></ion-icon>
    </ion-card-header>

    <ion-card-content>
      <form [formGroup]="form" class="ion-text-center" (ngSubmit)="submit()" (keypress.enter)="submit()">

        <ion-button (click)="takeImage()" mode="ios" size="small" shape="round">
          Tome/Seleccione una foto
        </ion-button>

        <ion-grid>
          <ion-row>
            <ion-col size="12">
              <app-login-input autocomplete="elemento" type="text" label="Elemento"
                [control]="form.controls.elemento"></app-login-input>
              <div class="validators" *ngIf="form.controls.elemento.errors && form.controls.elemento.touched">
                <div *ngIf="form.controls.elemento.errors?.['required']">El elemento es requerido</div>
                <div *ngIf="form.controls.elemento.errors?.['minlength']">El elemento debe contener 5 caracteres</div>
              </div>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col size="12">
              <app-login-input autocomplete="tipo" type="text" label="Tipo"
                [control]="form.controls.tipo"></app-login-input>
              <div class="validators" *ngIf="form.controls.tipo.errors && form.controls.tipo.touched">
                <div *ngIf="form.controls.tipo.errors?.['required']">El tipo es requerido</div>
              </div>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col size="12">
              <app-login-input autocomplete="modelo" type="text" label="Modelo"
                [control]="form.controls.modelo"></app-login-input>
              <div class="validators" *ngIf="form.controls.modelo.errors && form.controls.modelo.touched">
                <div *ngIf="form.controls.modelo.errors?.['required']">El modelo es requerida</div>
                <div *ngIf="form.controls.modelo.errors?.['minlength']">Debe contener mínimo 10 caracteres</div>
              </div>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col size="12">
              <app-login-input autocomplete="cantidad" type="number" label="Cantidad"
                [control]="form.controls.cantidad"></app-login-input>
              <div class="validators" *ngIf="form.controls.cantidad.errors && form.controls.cantidad.touched">
                <div *ngIf="form.controls.cantidad.errors?.['required']">La cantidad es requerida</div>
                <div *ngIf="form.controls.cantidad.errors?.['minlength']">Debe contener mínimo 5 caracteres</div>
              </div>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col size="12">
              <app-login-input autocomplete="costo" type="number" label="Costo" [control]="form.controls.costo"
                (ionInput)="setNumberInput()"></app-login-input>
              <div class="validators" *ngIf="form.controls.costo.errors && form.controls.costo.touched">
                <div *ngIf="form.controls.costo.errors?.['required']">El costo es requerido</div>
              </div>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col size="12">
              <app-login-input autocomplete="fecha" type="date" label="Fecha"
                [control]="form.controls.fecha"></app-login-input>
              <div class="validators" *ngIf="form.controls.fecha.errors && form.controls.fecha.touched">
                <div *ngIf="form.controls.fecha.errors?.['required']">La fecha es requerida</div>
              </div>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col size="12">
              <ion-button class="submit" type="submit" mode="ios" [disabled]="form.invalid">
                {{inventory ? 'Actualizar':'Agregar'}}
                <ion-icon slot="end" name="checkmark-circle-outline"></ion-icon>
              </ion-button>
            </ion-col>
          </ion-row>

        </ion-grid>

      </form>
    </ion-card-content>
  </ion-card>

</ion-content>